<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<p th:if="${successMessage}" th:text="${successMessage}"></p>
		<h2 th:text="${title}"></h2>
		<div class="linkList">
			<a th:each="entry : ${linkMap}" th:href="${entry.value}" th:text="${entry.key}"></a>
		</div>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>
