<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sikkerhetskopi</title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2>Sikkerhetskopi</h2>
		<button id="backup-button">Last ned sikkerhetskopi</button>
		<script>
			const button = document.getElementById("backup-button");
			button.addEventListener("click", async function (event) {
				event.preventDefault();
				const url = "/admin/api/getbackup";
				try {
					const response = await fetch(url, {
						method: 'GET'
					});
					if (!response.ok) {
						throw new Error("Failed to download backup");
					}
					const blob = await response.blob();
					const a = document.createElement("a");
					a.href = window.URL.createObjectURL(blob);
					a.download = response.headers.get("Content-Disposition").split("filename=")[1];
					a.click();
				} catch (error) {
					console.error("Error downloading backup:", error);
					alert("Det skjedde en feil mens sikkerhetskopien ble lastet ned.");
				}
			});
		</script>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>
