<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${title}"></title>
	<style>
		p {
			white-space: pre-wrap;
		}

		.paragraph p {
			text-align: left;
			margin: 0 auto;
			width: 80%;
			line-height: 2;
		}

		@media (max-width: 600px) {
			.paragraph p {
				font-size: medium;
			}
		}
		
		@media (min-width: 601px) {
			.paragraph p {
				font-size: small;
			}
		}
	</style>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<div class="paragraph">
			<p th:text="${text}"></p>
		</div>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>
