<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>F1 Tipping</title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<form th:action="@{/admin/season/{year}/points/set(year=${year})}" method="post">
			<label>Kategori</label><br>
			<select name="category">
				<option th:each="category : ${categories}" th:value="${category.key}" th:text="${category.value}"
					th:selected="${category.key.equals(selectedCategory)}">
				</option>
			</select><br>
			<label>Differanse</label><br>
			<input id="diffInput" type="range" name="diff" th:value="${diff}" min="0" max="25">
			<div id="diffOutput" th:text="${diff}"></div>
			<label>Poeng</label><br>
			<input id="pointsInput" type="range" name="points" th:value="${points}" min="0" max="50">
			<div id="pointsOutput" th:text="${points}"></div>
			<input type="submit" value="Sett ny verdi">
		</form>
		<form id="add" th:action="@{/admin/season/{year}/points/add(year=${year})}" method="post">
			<label>Kategori</label>
			<select name="category">
				<option th:each="category : ${categories}" th:value="${category.key}" th:text="${category.value}"
					th:selected="${category.key.equals(selectedCategory)}">
				</option>
			</select>
			<input type="hidden" class="diff" name="diff">
			<input type="hidden" class="points" name="points">
			<input type="submit" value="Legg til">
		</form>
		<form id="delete" th:action="@{/admin/season/{year}/points/delete(year=${year})}" method="post">
			<label>Kategori</label>
			<select name="category">
				<option th:each="category : ${categories}" th:value="${category.key}" th:text="${category.value}"
					th:selected="${category.key.equals(selectedCategory)}">
				</option>
			</select>
			<input type="hidden" class="diff" name="diff">
			<input type="hidden" class="points" name="points">
			<input type="submit" value="&#128465;">
		</form>
		<div th:insert="~{util/tablesFragment}" class="tables"></div>
		<script>
			const sliders = ["diff", "points"];
			for (const sliderName of sliders) {
				const input = document.getElementById(`${sliderName}Input`)
				const output = document.getElementById(`${sliderName}Output`)
				input.oninput = function () {
					output.innerHTML = input.value;
				};
			}
			let params = new URLSearchParams(document.location.search);
			const diff = params.get("diff");
			const points = params.get("points");
			if (diff && points) {
				document.getElementById("add").getElementsByClassName("diff")[0].value = diff;
				document.getElementById("add").getElementsByClassName("points")[0].value = points;
				document.getElementById("delete").getElementsByClassName("diff")[0].value = diff;
				document.getElementById("delete").getElementsByClassName("points")[0].value = points;
			}
			
		</script>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>
