services:
  backend:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ./src/main/resources/secret.properties
    volumes:
      - ./backup:/backup
      - ./logs:/logs
    restart: always
  database:
    build:
      context: .
      dockerfile: ./docker/database/Dockerfile
    volumes:
      - ./postgresql:/var/lib/postgresql
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}