<configuration>
  	<timestamp key="byDay" datePattern="yyyyMMdd"/>

  	<appender name="FILE1" class="ch.qos.logback.core.FileAppender">
		<file>logs/info/${byDay}.log</file>
		<immediateFlush>true</immediateFlush>
		<encoder>
	  		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
  	</appender>

	<appender name="FILE2" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
	  		<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
	  		<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
	  		<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
	  		<onMismatch>DENY</onMismatch>
		</filter>
		<file>logs/error/${byDay}.log</file>
		<immediateFlush>true</immediateFlush>
		<encoder>
	  		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
  	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
	  		<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
  	</appender>

  	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE1" />
		<appender-ref ref="FILE2" />
  	</root>
</configuration>
