<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  	<timestamp key="byDay" datePattern="yyyyMMdd"/>

  	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="no.voiestad.f1.filters.GenericFilter" />
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/info/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory> 
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<immediateFlush>true</immediateFlush>
		<encoder>
	  		<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
  	</appender>

	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="no.voiestad.f1.filters.GenericFilter" />
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/error/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory> 
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
	  		<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
	  		<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
	  		<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
	  		<onMismatch>DENY</onMismatch>
		</filter>
		<immediateFlush>true</immediateFlush>
		<encoder>
	  		<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
  	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
	  		<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
  	</appender>

  	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
  	</root>
</configuration>
