.bingo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bingo>div {
	text-align: center;
	margin-right: 1px;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	width: 100px;
	height: 100px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.bingo {
	background-color: rgb(187, 0, 31);
	display: grid;
	height: fit-content;
	width: fit-content;
	grid-template-columns: repeat(5, 1fr);
	padding: 1px;
	place-content: center;
	justify-items: center;
	align-items: center;
	color: black;
}

.marked {
	background-color: rgb(187, 0, 31);
	color: white;
	text-decoration: line-through;
}

.bingo>div:not(.marked) {
	background-color: white;
}


@media (max-width: 600px) {
	.bingo>div {
		width: 18vw;
		height: 18vw;
		font-size: 2vw;
	}
}
