.container {
	width: 300px;
	margin: 50px auto;
	padding: 0;
	list-style: none;
	border: 1px solid #ccc;
}

.item-wrapper {
	display: flex;
	align-items: center;
	margin: 0;
	background: #ffffff;
	border: 1px solid #ccc;
	cursor: move;
	transition: transform 0.3s ease;
	position: relative;
}

.item {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.number {
	width: 30px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
}

.over {
	border: 2px dashed #000;
}

.disable-transitions {
    transition: none !important;
}

@media (max-width: 600px) {
	.item-wrapper {
		font-size: smaller;
	}
}

@media (min-width: 601px) {
	
}
