body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(187, 0, 31);
	color: #fff;
	padding: 15px;
	margin: 0;
}

nav div {
	display: flex;
	justify-content: space-between;
}

nav a {
	color: #fff;
	padding: 5px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: rgba(187, 0 ,31);
}

a:hover {
	text-decoration: underline;
}

main {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 24px;
	color: #333;
}

h1 {
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

div {
	margin: 8px;
}

.topnav {
	overflow: hidden;
	position: relative;
}

.topnav #links-container {
	margin: 0;
	align-content: flex-end;
	display: flex;
	justify-content: flex-end;
}

.topnav #links {
	margin: 0;
	flex-direction: column;
	align-content: right;
	max-height: 0;
    opacity: 0;
	font-size: 15px;
	width: fit-content;
}

.topnav #links.active {
	opacity: 1;
}

.topnav #links a {
	text-align: right;
}

.dropdown-section> div {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	margin: 0;
    opacity: 0;
	max-height: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-section> div.active {
    opacity: 1;
}

.dropdown-button {
	display: flex;
	background: none;
	align-self: flex-end;
	border: none;
	color: white;
	padding: 0px;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	block-size:17.5px;
}

.dropdown-button:hover {
	text-decoration: underline;
}

.dropdown-section {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.dropdown-section a {
	padding-right: 35px;
}

/* Hamburger menu */
.topnav button.icon {
	display: block;
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	background: none;
	border: none;
	color: white;
	width: fit-content;
	height: fit-content;
	padding: 5px;
	font-weight: bold;
	margin: 0px;
	cursor: pointer;
	font-size: large;
}

.linkList {
	display: flex;
	flex-direction: column;
}

.linkList a {
	margin: 16px;
	color: black;
	font-weight: bold;
}

.linkList a:hover {
	color: grey;
}

h2 {
	text-align: center;
}

#logo {
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: inline-block;
}

#logo:hover {
	text-decoration: none;
}

footer {
    background-color: rgb(187, 0, 31);
    padding: 15px;
    color: white;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
	font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer p {
        margin: 5px 0;
    }

    footer a {
        margin: 5px 0;
    }
}

@media (min-width: 601px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    footer p {
        margin: 0 15px;
    }
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: rgb(187, 0, 31);
	border: none;
	color: white;
	padding: 16px 32px;
	margin: 8px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	border-radius: 12px;
}

input[type=range] {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 300px;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	border-radius: 12px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: rgb(187, 0, 31);
	cursor: pointer;
	border-radius: 50%;
}
  
input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: rgb(187, 0, 31);
	cursor: pointer;
	border-radius: 50%;
}

@media (max-width: 600px) {
	input[type=range] {
		width: 75%;
	}
}
.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	color: white;
}

.breadcrumb li {
	list-style-position: inside;
}

.breadcrumb div {
	font-weight: bold;
	margin: 0;
	padding-left: 5px;
	color: rgb(208, 208, 208);
}

.breadcrumb li:not(:last-child)::after {
	content: ">";
	margin-left: 10px;
	margin-right: 10px;
}

@media (max-width: 600px) {
    .breadcrumb {
		font-size: 0.75em;
	}
	.breadcrumb li:not(:last-child)::after {
		content: ">";
		margin-left: 5px;
		margin-right: 5px;
	}
}

.circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}

input[type="radio"] {
	margin-right: 15px;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #f4f4f4;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid rgb(208, 208, 208);
}

input[type='radio']:hover:after {
	background-color: rgb(210, 150, 150);
}

input[type='radio']:checked:after {
	background-color: rgb(187, 0, 31);
}

.radio-buttons {
	width: fit-content;
	margin: 0 auto;
	text-align: left;
}
.radio-buttons div {
	display: flex;
	align-items: center;
}
