body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(187, 0, 31);
	color: #fff;
	padding: 15px;
	margin: 0;
}

nav div {
	display: flex;
	justify-content: space-between;
}

nav a {
	color: #fff;
	padding: 5px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

main {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 24px;
	color: #333;
}

h1 {
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

div {
	margin: 8px;
}

.topnav {
	overflow: hidden;
	position: relative;
}

.topnav #links {
	display: none;
	flex-direction: column;
	align-content: right;
}

.topnav #links a {
	text-align: right;	
}

/* Hamburger menu */
.topnav a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.linkList {
	display: flex;
	flex-direction: column;
}

.linkList a {
	margin: 16px;
	color: black;
}

.linkList a:hover {
	color: grey;
}

h2 {
	text-align: center;
}

button {
	margin: 16px;
	width: 100px;
	height: 50px;
	cursor: pointer;
}

#logo {
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: inline-block;
}

#logo:hover {
	text-decoration: none;
}

footer {
    background-color: rgb(187, 0, 31);
    padding: 15px;
    color: white;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer p {
        margin: 5px 0;
    }

    footer a {
        margin: 5px 0;
    }
}

@media (min-width: 601px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    footer p {
        margin: 0 15px;
    }
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
