body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(187, 0, 31);
	color: #fff;
	padding: 15px;
	margin: 0;
}

nav div {
	display: flex;
	justify-content: space-between;
}

nav a {
	color: #fff;
	padding: 5px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

main {
	text-align: center;
	margin-top: 50px;
	font-size: 24px;
	color: #333;
}

h1 {
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

div {
	margin: 8px;
}

.topnav {
	overflow: hidden;
	position: relative;
}

.topnav #links {
	display: none;
	flex-direction: column;
	align-content: right;
}

.topnav #links a {
	text-align: right;	
}

/* Hamburger menu */
.topnav a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.rankList {
	display: flex;
	flex-direction: column;
}

.rankList a {
	margin: 16px;
	color: black;
}

.rankList a:hover {
	color: grey;
}

h2 {
	text-align: center;
}

button {
	margin: 16px;
	width: 100px;
	height: 50px;
	cursor: pointer;
}

#logo {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#logo:hover {
	text-decoration: none;
}
