table {
	border-collapse: collapse;
	box-shadow: 0 0 20px light-dark(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
}

thead th {
	background-color: rgb(187, 0, 31);
	color: white;
}

th {
	position: sticky;
	top: 0;
}

tbody tr {
	border-bottom: 1px solid light-dark(#bebebe, #414141);
}

tbody tr:nth-of-type(even) {
	background-color: light-dark(#ececec, #131313);
}

tbody tr:nth-of-type(odd) {
	background-color: light-dark(#ffffffed, #000000ed);
}

tbody tr:last-of-type {
	border-bottom: 2px solid rgb(187, 0, 31);
}

th,
td {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.tables {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	margin-bottom: 25px;
}

h3 {
	text-align: center;
}

@media (max-width: 600px) {

	th,
	td {
		width: 5px;
		font-size: 14px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
