<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inviter brukere</title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2>Inviter brukere</h2>
		<form th:action="@{/settings/referral/add}" method="post">
			<input type="submit" value="Lag invitasjonskode">
		</form>
		<div th:if="${referralCode}">
			<p>Din invitasjonskode er:</p>
			<h3 th:text="${referralCode}"></h3>
			<p>Den varer i en time fra den ble laget.</p>
			<form th:action="@{/settings/referral/delete}" method="post">
				<input type="submit" value="Slett invitasjonskode">
			</form>
		</div>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>
