<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Velg brukernavn</title>
	<style>
		form {
			text-align: center;
			padding: 20px;
			border-radius: 5px;
		}

		input {
			width: 100%;
			max-width: 300px;
			padding: 10px;
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<div>
			<h2>Velg brukernavn</h2>
			<form th:action="@{{url}(url=${url})}" method="post">
				<div>
					<input type="text" id="username" name="username" required placeholder="Brukernavn">
				</div>
				<input type="submit" value="Bekreft brukernavn">
			</form>
			<form th:if="${newUser}" th:action="@{/logout}" method="post">
				<input type="submit" value="Logg ut">
			</form>
			<p th:if="${error}" th:text="${error}"></p>
		</div>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>
