<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/tables.css}">
	<link rel="stylesheet" th:href="@{/loader.css}">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<p th:if="${error}" th:text="${error}"></p>
		<form th:action="@{/admin/season/add}" method="POST" id="form" onsubmit="showLoader();">
			<label>År</label>
			<input type="number" min="1" max="10000" pattern="[0-9]*" inputmode="numeric" name="year" autofocus required>
			<label>Start</label>
			<input type="number" min="1" max="10000" pattern="[0-9]*" inputmode="numeric" name="start" required>
			<label>Slutt</label>
			<input type="number" min="1" max="10000" pattern="[0-9]*" inputmode="numeric" name="end" required>
			<input type="submit" value="Legg til">
		</form>
		<div id="loader">
			<div class="loading"></div>
			<p>Laster data...</p>
		</div>
		<script>
			function showLoader() {
				document.getElementById('form').style.display = 'none';
				document.getElementById('loader').style.display = 'flex';
			}
		</script>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>