<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/list.css}">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<h2 th:text="${title}"></h2>
	<main>
		<div th:insert="~{countdown :: countdown(timeLeftToGuess=${timeLeftToGuess})}"></div>
		<form th:action="@{/guess/{type}(type=${type})}" method="post">
			<input type="hidden" name="driver" value="" id="guessedDriver">
			<ul class="container">
				<li th:each="item, iterStat : ${items}" onclick="select(event)"
				th:class="${item == guessedDriver ? 'selected item-wrapper' : 'item-wrapper'}">
				<div class="number" th:text="${iterStat.index + 1}"></div>
				<div class="item" th:text="${item}" th:id="${item}"></div>
			</li>
		</ul>
			<input type="submit" value="Send inn gjett">
		</form>
	</main>
	<footer th:insert="~{footer}"></footer>
	
	<script>
		let selectedItem = null;
		let guessedDriver = document.getElementById("guessedDriver");

		document.querySelectorAll('.item-wrapper').forEach(function(itemWrapper) {
			if (itemWrapper.classList.contains('selected')) {
				select({target: itemWrapper});
			}
		});

		function select(event) {
			if (selectedItem != null) {
				selectedItem.style.color = "";
			}
			selectedItem = event.target;
			selectedItem.style.color = "red";
			let item = selectedItem.getElementsByClassName('item')[0] || selectedItem;
			guessedDriver.value = item.innerHTML;
		}


	</script>

</body>

</html>