<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>F1 Tipping</title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<form th:action="@{/guess/flags}" method="post">
			<input type="number" value="0" min="0" max="1000" name="yellow">
			<input type="number" value="0" min="0" max="1000" name="red">
			<input type="number" value="0" min="0" max="1000" name="safetyCar">
			<button type="submit">Submit Guesses</button>
		</form>
	</main>
</body>

</html>