<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav class="topnav">
	<a id="logo" href="/">
		<h1>F1 Tipping</h1>
	</a>
	<button class="icon" onclick="toggleDropDown()">
		<i class="fa fa-bars"></i>
	</button>
	<div th:if="${breadcrumbs}" style="margin: 0;">
		<ol class="breadcrumb">
			<li th:each="crumb : ${breadcrumbs}">
				<a th:if="${crumb.value}" th:href="${crumb.value}" th:text="${crumb.key}"></a>
				<div th:unless="${crumb.value}" th:text="${crumb.key}"></div>
			</li>
		</ol>
	</div>
	<form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;"></form>
	<div id="links">
		<div class="dropdown-section">
			<button class="dropdown-button">Tipping &#x2BC6;</button>
			<a th:if="${isAbleToGuess}" href="/guess">Tipp</a>
			<a th:if="${raceGuess}" th:href="@{/race-guess}">Tippet på løp</a>
		</div>
		<div class="dropdown-section">
			<button class="dropdown-button">Resultater &#x2BC6;</button>
			<a href="/user/compare">Sammenlign brukere</a>
			<a href="/stats">Statistikk</a>
			<a href="/score">Poengberegning</a>
			<a href="https://voiestad.no/f1-old">Resultater før 2025</a>
		</div>
		<div class="dropdown-section">
			<button class="dropdown-button">Andre &#x2BC6;</button>
			<a href="/bingo">Bingo</a>
		</div>
		<div th:unless="${loggedOut}" class="dropdown-section">
			<button class="dropdown-button">Profil &#x2BC6;</button>
			<a th:unless="${loggedOut}" href="/user/myprofile">Min Profil</a>
			<a th:unless="${loggedOut}" href="/settings">Innstillinger</a>
			<a href="#" onclick="document.getElementById('logoutForm').submit();">Logg ut</a>
		</div>
		<a th:if="${isAdmin}" th:href="@{/admin}">Admin Portal</a>
		<a th:if="${loggedOut}" href="/oauth2/authorization/google">Logg inn</a>
	</div>
</nav>

<script>
	function toggleDropDown() {
		var x = document.getElementById("links");
		var isActive = x.classList.toggle("active");
		if (isActive) {
			x.style.maxHeight = x.scrollHeight + "px";
		} else {
			x.style.maxHeight = "0";
		}
	}
</script>

</html>