<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<nav class="topnav">
	<a id="logo" href="/">
		<h1>F1 Tipping</h1>
	</a>
	<button class="icon" onclick="toggleMainDropDown()">
		<svg class="hamburger" viewBox="0 0 15 16">
			<rect x="0" y="2" width="15" height="3" fill="white" />
			<rect x="0" y="7.5" width="15" height="3" fill="white" />
			<rect x="0" y="13" width="15" height="3" fill="white" />
		</svg>
	</button>
	<div th:if="${breadcrumbs}" style="margin: 0;">
		<ol class="breadcrumb">
			<li th:each="crumb : ${breadcrumbs}">
				<a th:if="${crumb.value}" th:href="${crumb.value}" th:text="${crumb.key}"></a>
				<div th:unless="${crumb.value}" th:text="${crumb.key}"></div>
			</li>
		</ol>
	</div>
	<form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;"></form>
	<div id="links-container">
		<div id="links">
			<div class="dropdown-section">
				<button class="dropdown-button" onclick="toggleSubMenuDropDown(0)">Tipping &#x25BC;</button>
				<div id="sub-menu-0">
					<a th:if="${isAbleToGuess}" href="/guess">Tipp</a>
					<a th:if="${raceGuess}" th:href="@{/race-guess}">Tippet på løp</a>
				</div>
			</div>
			<div class="dropdown-section">
				<button class="dropdown-button" onclick="toggleSubMenuDropDown(1)">Resultater &#x25BC;</button>
				<div id="sub-menu-1">
					<a href="/user/compare">Sammenlign brukere</a>
					<a href="/stats">Statistikk</a>
					<a href="/score">Poengberegning</a>
					<a href="https://app.voiestad.no/f1-old">Resultater før 2025</a>
				</div>
			</div>
			<div class="dropdown-section">
				<button class="dropdown-button" onclick="toggleSubMenuDropDown(2)">Andre &#x25BC;</button>
				<div id="sub-menu-2">
					<a href="/bingo">Bingo</a>
				</div>
			</div>
			<div th:unless="${loggedOut}" class="dropdown-section">
				<button class="dropdown-button" onclick="toggleSubMenuDropDown(3)">Profil &#x25BC;</button>
				<div id="sub-menu-3">
					<a th:unless="${loggedOut}" href="/user/myprofile">Min Profil</a>
					<a th:unless="${loggedOut}" href="/settings">Innstillinger</a>
					<a href="#" onclick="document.getElementById('logoutForm').submit();">Logg ut</a>
				</div>
			</div>
			<button onclick="changeTheme()" class="dropdown-button" id="theme-button"></button>
			<a th:if="${isAdmin}" th:href="@{/admin}">Admin Portal</a>
			<a th:if="${loggedOut}" href="/oauth2/authorization/google">Logg inn</a>
		</div>
	</div>
</nav>

<script>
	const themes = ["light", "dark", "oled"]
	const themeNames = ["Lys", "Mørk", "Mørkere"]
	let themeIndex;
	const themeButton = document.getElementById("theme-button");
	const htmlElement = document.querySelector("html");

	function setTheme() {
		let theme = themes[themeIndex];
		htmlElement.setAttribute("data-theme", theme);
		localStorage.setItem("theme", theme);
		let themeName = themeNames[themeIndex];
		themeButton.innerHTML = `Tema: ${themeName}`;
	}
	
	function initTheme() {
		let theme = localStorage.getItem("theme");
		const isUsingLightTheme = window.matchMedia("(prefers-color-scheme: light)");
		isUsingLightTheme.addEventListener("change", (e) => {
			if (e.matches) {
				themeIndex = 0;	
			} else {
				themeIndex = 1;
			}
			setTheme();
		});
		if (theme === null) {
			theme = isUsingLightTheme.matches ? "light" : "dark";
		}
		themeIndex = themes.indexOf(theme);
		setTheme();
	}

	function changeTheme() {
		themeIndex = (themeIndex + 1) % themes.length;
		setTheme();
	}
	initTheme();

	let totalHeight = 0;
	document.querySelectorAll("#links").forEach(child => {
		totalHeight += child.clientHeight;
	});

	function toggleMainDropDown() {
		const links = document.getElementById("links");
		links.style = "transition: opacity 0.5s ease;";
		const isActive = links.classList.toggle("active");
		if (isActive) {
			links.style = "transition: max-height 0.5s ease, opacity 0.5s ease;";
			links.style.maxHeight = links.scrollHeight + "px";
		} else {
			links.style.maxHeight = links.scrollHeight + "px";
			setTimeout(event => {
				links.style = "transition: max-height 0.5s ease, opacity 0.5s ease;";
				links.style.maxHeight = "0";
			});
		}
	}

	function toggleSubMenuDropDown(menuIndex) {
		const subMenu = document.getElementById("sub-menu-" + menuIndex);
		const links = document.getElementById("links");
		links.style.transition = "";
		links.style.maxHeight = "1000px";
		const isActive = subMenu.classList.toggle("active");
		if (isActive) {
			subMenu.style.maxHeight = subMenu.scrollHeight + "px";
		} else {
			subMenu.style.maxHeight = "0";
		}
	}
</script>

</html>
