<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>E-post påminnelser</title>
	<style>
		form {
			text-align: center;
			padding: 20px;
			border-radius: 5px;
		}

		input {
			width: 100%;
			max-width: 300px;
			padding: 10px;
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<div>
			<h2>E-post påminnelser</h2>
			<form th:action="@{/settings/mail/add}" method="post">
				<div>
					<input type="text" id="email" name="email" pattern="^[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}$" required
					placeholder="E-post" title="eksempel@epost.no">
				</div>
				<input type="submit" value="Meld på">
			</form>
			<form th:if="${hasMail}" th:action="@{/settings/mail/remove}" method="post">
				<input type="submit" value="Meld av">
			</form>
		</div>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>