<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/tables.css}">
	<title>F1 Tipping</title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<form th:action="@{/admin/season/{year}/points/set(year=${year})}" method="post">
			<label>Kategori</label>
			<select name="category">
				<option th:each="category : ${categories}" th:value="${category.key}" th:text="${category.value}"></option>
			</select>
			<label>Differanse</label>
			<input type="number" name="diff" value="0" min="0" max="100" pattern="[0-9]*"
			inputmode="numeric" required>
			<label>Poeng</label>
			<input type="number" name="points" value="0" min="0" max="250" pattern="[0-9]*"
			inputmode="numeric" required>
			<input type="submit" value="Sett ny verdi">
		</form>
		<form th:action="@{/admin/season/{year}/points/add(year=${year})}" method="post">
			<label>Kategori</label>
			<select name="category">
				<option th:each="category : ${categories}" th:value="${category.key}" th:text="${category.value}"></option>
			</select>
			<input type="submit" value="Legg til">
		</form>
		<form th:action="@{/admin/season/{year}/points/delete(year=${year})}" method="post">
			<label>Kategori</label>
			<select name="category">
				<option th:each="category : ${categories}" th:value="${category.key}" th:text="${category.value}"></option>
			</select>
			<input type="submit" value="&#128465;">
		</form>
		<div class="tables">
			<table th:each="table : ${tables}">
				<h3 th:text="${table.getName()}"></h3>
				<thead>
					<tr>
						<th th:each="cell : ${table.getHeader()}" th:text="${cell}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${table.getBody()}">
						<td th:each="cell : ${row}" th:text="${cell}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>