<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/tables.css}">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<p th:if="${successMessage}" th:text="${successMessage}"></p>
		<h2 th:text="${title}"></h2>
		<div th:each="race : ${races}">
			<a th:href="@{/admin/season/{year}/manage/{id}(year=${year},id=${race.id})}" th:text="${race.position} + ' ' + ${race.name} + ' ' + ${race.id}"></a>
			<form th:action="@{/admin/season/{year}/manage/move(year=${year})}" method="post">
				<input type="hidden" name="id" th:value="${race.id}">
				<input type="number" name="newPosition" placeholder="Ny plass" min="1" max="50" pattern="[0-9]*"
					inputmode="numeric" required>
				<input type="submit" value="Endre plass">
			</form>
			<form th:action="@{/admin/season/{year}/manage/delete(year=${year})}" method="post">
				<input type="hidden" name="id" th:value="${race.id}">
				<input type="submit" value="&#128465;">
			</form>
			<form th:action="@{/admin/season/{year}/manage/reload(year=${year})}" method="post">
				<input type="hidden" name="id" th:value="${race.id}">
				<input type="submit" value="&#10227;">
			</form>
		</div>

		<form th:action="@{/admin/season/{year}/manage/add(year=${year})}" method="post">
			<input type="number" name="id" placeholder="Race id" min="0" max="200000" pattern="[0-9]*"
				inputmode="numeric" required>
			<input type="submit" value="Legg til race">
		</form>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>