<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/tables.css}">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<form th:action="@{/admin/flag/add}" method="POST">
			<select name="sessionType">
				<option th:each="sessionType : ${sessionTypes}" th:text="${sessionType}" th:value="${sessionType}"
					th:selected="${sessionType.equals(selectedSessionType)}"></option>
			</select>
			<br><br>
			<div class="radio-buttons">
				<div th:each="flag, iterStat : ${flags}">
					<input type="radio" name="flag" th:value="${flag}" th:id="${iterStat.index}"
						th:checked="${flag.equals(selectedFlag)}" required>
					<label th:text="${flag}" th:for="${iterStat.index}"></label>
				</div>
			</div>
			<br>
			<label>Runde</label><br>
			<input id="roundInput" type="range" th:value="${selectedRound}" min="1" max="100" name="round">
			<div id="roundOutput" th:text="${selectedRound}"></div>
			<input type="hidden" name="raceId" th:value="${raceId}">
			<input type="hidden" name="origin" class="originInput">
			<input type="submit" value="Legg til">
		</form>
		<form th:each="registeredFlag : ${registeredFlags}" onsubmit="return confirmSubmit()"
			th:action="@{/admin/flag/delete}" method="POST">
			<span th:text="${registeredFlag.type}"></span>
			<span th:text="${registeredFlag.round}"></span>
			<span th:text="${registeredFlag.sessionType}"></span>
			<input type="hidden" th:value="${registeredFlag.id}" name="id">
			<input type="hidden" name="origin" class="originInput">
			<input type="submit" value="&#128465;">
		</form>
		<script>
			let origins = document.getElementsByClassName('originInput');
			for (let origin of origins) {
				origin.value = window.location.pathname + window.location.search;
			}
			function confirmSubmit() {
				return confirm("Er du sikker på at du vil slette denne?");
			}

			const roundInput = document.getElementById("roundInput");
			const roundOutput = document.getElementById("roundOutput");
			roundInput.oninput = function () {
				roundOutput.innerHTML = roundInput.value;
			};
		</script>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>



</html>