<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/tables.css}">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<form th:each="registeredFlag : ${registeredFlags}" onsubmit="return confirmSubmit()" th:action="@{/admin/flag/delete}" method="POST">
			<span th:text="${registeredFlag.type}"></span>
			<span th:text="${registeredFlag.round}"></span>
			<span th:text="${registeredFlag.sessionType}"></span>
			<input type="hidden" th:value="${registeredFlag.id}" name="id">
			<input type="hidden" name="origin" class="originInput">
			<input type="submit" value="&#128465;">
		</form>
		<form th:action="@{/admin/flag/add}" method="POST">
			<select name="flag">
				<option th:each="flag : ${flags}" th:text="${flag}" th:value="${flag}"></option>
			</select>
			<select name="sessionType">
				<option th:each="sessionType : ${sessionTypes}" th:text="${sessionType}" th:value="${sessionType}"></option>
			</select>
			<input type="number" min="1" max="100" pattern="[0-9]*" inputmode="numeric" name="round" autofocus required>
			<input type="hidden" name="raceId" th:value="${raceId}">
			<input type="hidden" name="origin" class="originInput">
			<input type="submit" value="Legg til">
		</form>
		<script>
			let origins = document.getElementsByClassName('originInput');
			for (let origin of origins) {
				origin.value = window.location.pathname;
			}
			function confirmSubmit() {
				return confirm("Er du sikker på at du vil slette denne?");
			}
		</script>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>



</html>