<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/tables.css}">
	<title>F1 Tipping</title>
	<style>
		.graph-container {
			text-align: center;
		}

		@media (max-width: 600px) {
			#graph {
				display: none;
			}
		}

		@media (min-width: 601px) {
			#graph {
				display: inline-block;
				width: 100%;
				max-width: 800px;
				height: 650px;
			}
		}
	</style>
</head>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2>F1 Tipping hjemskjerm!</h2>
		<div class="tables">
			<table>
				<h3 th:text="${leaderBoard.getName()}"></h3>
				<thead>
					<tr>
						<th th:each="cell : ${leaderBoard.getHeader()}" th:text="${cell}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${leaderBoard.getBody()}">
						<td th:text="${row[0]}"></td>
						<td><a th:text="${row[1]}" th:href="@{/user/{id}(id=${row[3]})}"></a></td>
						<td th:text="${row[2]}"></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${guessers}">
				<h3>Årets deltakere:</h3>
				<ul>
					<li th:each="guesser : ${guessers}" th:text="${guesser}"></li>
				</ul>
			</div>
		</div>
		<div class="graph-container">
			<div id="graph"></div>
		</div>
		<script th:inline="javascript">
			google.charts.load('current', { packages: ['corechart'] });
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {

				const scores = /*[[${scores}]]*/[];
				const guessersNames = /*[[${guessersNames}]]*/[];
				if (scores.length === 0) {
					const chartContainer = document.getElementById('graph').parentElement;
					chartContainer.remove();
					return;
				}
				const data = google.visualization.arrayToDataTable([
					['Poeng', ...guessersNames],
					...scores[0].map((_, index) => {
						return [index, ...scores.map(scoreList => scoreList[index])];
					})
				]);

				const options = {
					title: 'Utvikling gjennom sesongen',
					hAxis: { title: 'Løp', ticks: scores[0].map((_, i) => i) },
					vAxis: { title: 'Poeng' },
					legend: { position: 'right' },
					chartArea: { width: '60%', height: '70%' }
				};

				const chart = new google.visualization.LineChart(document.getElementById('graph'));
				chart.draw(data, options);

			}
		</script>
		<div class="linkList">
			<a th:if="${raceGuess}" th:href="@{/race-guess}">Tippet på løp</a>
			<a th:if="${isAdmin}" th:href="@{/admin}">Admin Portal</a>
		</div>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>