<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/tables.css}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>F1 Tipping</title>
	<style>
		#chart {
			display: flex;
			max-width: 800px;
			max-height: 500px;
			margin: 0 auto;
			width: 100% !important;
		}
	</style>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2>F1 Tipping hjemskjerm!</h2>
		<div class="tables">
			<table>
				<h3 th:text="${leaderBoard.getName()}"></h3>
				<thead>
					<tr>
						<th th:each="cell : ${leaderBoard.getHeader()}" th:text="${cell}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${leaderBoard.getBody()}">
						<td th:text="${row[0]}"></td>
						<td><a th:text="${row[1]}" th:href="@{/user/{id}(id=${row[3]})}"></a></td>
						<td th:text="${row[2]}"></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${guessers}">
				<h3>Årets deltakere:</h3>
				<ul>
					<li th:each="guesser : ${guessers}" th:text="${guesser}"></li>
				</ul>
			</div>
		</div>
		<canvas id="chart"></canvas>
		<script th:inline="javascript">
			drawChart();
			function drawChart() {
				const scores = /*[[${scores}]]*/[];
				const ctx = document.getElementById('chart');
				if (scores.length === 0) {
					ctx.remove();
					return;
				}
				const xValues = scores[0].map((_, i) => i);
				const guessersNames = /*[[${guessersNames}]]*/[];
				const data = [];
				const colors = ["#f7d000", "purple", "red", "green", "blue", "orange"];
				for (let i = 0; i < scores.length; i++) {
					data.push({
						data: scores[i],
						borderColor: colors[i % colors.length],
						backgroundColor: colors[i % colors.length],
						fill: false,
						label: guessersNames[i]
					});
				}

				const chartColor = getComputedStyle(document.documentElement).getPropertyValue('--chart-color').trim();

				new Chart(ctx, {
					type: "line",
					data: {
						labels: xValues,
						datasets: data
					},
					options: {
						scales: {
							x: {
								title: {
									display: true,
									text: "Løp"
								},
								grid: {
									color: chartColor,
									borderColor: chartColor
								},
								ticks: {
									color: chartColor
								}
							},
							y: {
								title: {
									display: true,
									text: "Poeng"
								},
								grid: {
									color: chartColor,
									borderColor: chartColor
								},
								ticks: {
									color: chartColor
								}
							}
						},
						maintainAspectRatio: false,
						plugins: {
							legend: {
								display: true,
								position: "top",
								labels: {
									color: chartColor
								}
							},
							title: {
								display: true,
								text: "Utvikling gjennom sesongen",
								color: chartColor
							}
						}
					}
				});
			}
		</script>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>