<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/list.css}">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<div th:insert="~{countdown :: countdown(timeLeftToGuess=${timeLeftToGuess})}"></div>
		<form th:action="@{/guess/{type}(type=${type})}" method="post">
			<ul id="sortable" class="container">
				<li class="item-wrapper" th:each="item, iterStat : ${competitors}" draggable="true">
					<div class="number" th:text="${iterStat.index + 1}"></div>
					<div class="item" th:text="${item}"></div>
					<input type="hidden" name="rankedCompetitors" th:value="${item}" />
				</li>
			</ul>
			<input type="submit" value="Send inn rangering">
		</form>
	</main>
	<footer th:insert="~{footer}"></footer>

	<script>
		const list = document.getElementById('sortable');
		let draggedItem = null;

		document.addEventListener('dragstart', (event) => {
			if (event.target.classList.contains('item-wrapper')) {
				draggedItem = event.target;
				event.target.style.opacity = 0.5;
			}
		});

		document.addEventListener('dragend', (event) => {
			if (event.target.classList.contains('item-wrapper')) {
				event.target.style.opacity = "";
			}
		});

		list.addEventListener('dragover', (event) => {
			event.preventDefault();
			const target = findElementUnderCursor(list, event.clientY);
			if (target == null) {
				return;
			}
			let targetBefore = false;
			for (let elem of list.children) {
				if (elem === target) {
					targetBefore = true;
					break;
				}
				if (elem === draggedItem) {
					break;
				}
			}
			if (targetBefore) {
				list.insertBefore(draggedItem, target);
			} else {
				list.insertBefore(target, draggedItem);
			}
			updateNumbers();
		});

		function findElementUnderCursor(container, y) {
			const draggableElements = [...container.querySelectorAll('.item-wrapper:not(.dragging)')];

			for (const child of draggableElements) {
				const box = child.getBoundingClientRect();
				if (y > box.top && y < box.bottom) {
					return child;
				}
			}
			return null;
		}

		function updateNumbers() {
			const items = document.querySelectorAll('.item-wrapper .number');
			items.forEach((number, index) => {
				number.textContent = index + 1;
			});
		}
	</script>

</body>

</html>