<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/list.css}">
	<title th:text="${title}"></title>
	<script th:src="@{/DragDropTouch.js}"></script>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<div th:insert="~{countdown :: countdown(timeLeftToGuess=${timeLeftToGuess})}"></div>
		<form th:action="@{/guess/{type}(type=${type})}" method="post">
			<ul id="sortable" class="container">
				<li class="item-wrapper" th:each="item, iterStat : ${competitors}" draggable="true">
					<div class="number" th:text="${iterStat.index + 1}"></div>
					<div class="item" th:text="${item}"></div>
					<input type="hidden" name="rankedCompetitors" th:value="${item}" />
				</li>
			</ul>
			<input type="submit" value="Send inn rangering">
		</form>
	</main>
	<footer th:insert="~{footer}"></footer>

	<script>
		const list = document.getElementById('sortable');
		let draggedItem = null;
		let draggedItemPos = null;
		let currPos = null;
		let itemBounds = null;
		const items = document.querySelectorAll('.item-wrapper');
		setEqualHeights();
		
		function setEqualHeights() {
			const items = document.querySelectorAll('.item-wrapper');
			let maxHeight = 0;

			items.forEach(item => {
				const itemHeight = item.getBoundingClientRect().height;
				if (itemHeight > maxHeight) {
					maxHeight = itemHeight;
				}
			});

			items.forEach(item => {
				item.style.height = `${maxHeight}px`;
			});
		}

		items.forEach(item => {
			item.style["z-index"] = 1000;

			item.addEventListener('dragstart', (event) => {
				enableTransitions();
				item.style["z-index"] = 1;
				draggedItem = event.target;
				draggedItemPos = getDraggedItemIndex();
				currPos = draggedItemPos;
				setItemBounds();
			});

			item.addEventListener('dragend', (event) => {
				item.style["z-index"] = 1000;
			});
		});

		function setItemBounds() {
			itemBounds = [];
			const items = [...list.querySelectorAll('.item-wrapper')];
			for (const child of items) {
				const box = child.getBoundingClientRect();
				itemBounds.push(box);
			}
		}

		function disableTransitions() {
			const items = [...list.querySelectorAll('.item-wrapper')];
			for (const child of items) {
				child.classList.add('disable-transitions');
			}
		}
		function enableTransitions() {
			const items = [...list.querySelectorAll('.item-wrapper')];
			for (const child of items) {
				child.classList.remove('disable-transitions');
			}
		}

		function getElementByIndex(index) {
			return [...list.querySelectorAll('.item-wrapper')][index];
		}

		document.addEventListener('dragend', (event) => {
			disableTransitions();
			resetPositions();
			if (currPos == null) {
				return;
			}
			let draggedIndex = getDraggedItemIndex();
			const currPosItem = getElementByIndex(currPos);
			if (draggedIndex > currPos) {
				list.insertBefore(draggedItem, currPosItem);
			} else {
				list.insertBefore(draggedItem, currPosItem);
				list.insertBefore(currPosItem, draggedItem);
			}
			updateNumbers();
		});

		list.addEventListener('dragover', (event) => {
			event.preventDefault();
			const y = event.clientY;
			const index = findIndexOfCursor(y);
			if (index == null) {
				return;
			}
			currPos = index;
			updatePositions();
		});

		function getDraggedItemIndex() {
			return getIndex(draggedItem);
		}

		function getIndex(item) {
			return parseInt(item.getElementsByClassName("number")[0].innerHTML) - 1;
		}

		function findIndexOfCursor(y) {
			let i = 0;
			for (const box of itemBounds) {
				if (y > box.top && y < box.bottom) {
					return i;
				}
				i++;
			}
			return null;
		}

		function updatePositions() {
			const items = document.querySelectorAll('.item-wrapper');
			const boxHeight = draggedItem.getBoundingClientRect().height;
			items.forEach((box, index) => {
				let offset;
				if (index === draggedItemPos) {
					return;
				}
				if (index > draggedItemPos && index > currPos) {
					offset = 0;
				} else if (index < draggedItemPos && index < currPos) {
					offset = 0;
				} else if (index < draggedItemPos && index >= currPos) {
					offset = boxHeight;
				} else if (index > draggedItemPos && index <= currPos) {
					offset = -boxHeight;
				}
				let transformation = "translate3d(0px, " + offset + "px, 0px)";
				box.style.transform = transformation;
			});
		}

		function resetPositions() {
			const items = document.querySelectorAll('.item-wrapper');
			items.forEach((box, index) => {
				box.style.transform = "";
			});
		}

		function updateNumbers() {
			const items = document.querySelectorAll('.item-wrapper .number');
			items.forEach((number, index) => {
				number.textContent = index + 1;
			});
		}
	</script>

</body>

</html>