<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${title}"></title>
</head>

<body>
	<header th:insert="~{header}"></header>
	<main>
		<h2 th:text="${title}"></h2>
		<div>
			<div th:each="square, iterStat: ${bingoCard}" th:id="${square.id()}">
				<h3 th:text="${iterStat.index+1}"></h3>
				<form th:action="@{/bingo/admin/{year}/set(year=${year})}" method="post" autocomplete="off">
					<textarea th:text="${square.text()}" placeholder="Rutetekst" name="text" rows="8" cols="20"></textarea>
					<input type="hidden" th:value="${square.id()}" name="id">
					<input type="submit" value="Sett ny tekst">
				</form>
				<form th:action="@{/bingo/admin/{year}/mark(year=${year})}" method="post">
					<input type="hidden" th:value="${square.id()}" name="id">
					<input type="submit" th:value="${square.marked() ? 'Fjern markering' : 'Marker'}">
				</form>
			</div>
		</div>
		<form th:unless="${isBingoCard}" th:action="@{/bingo/admin/{year}/add-card(year=${year})}" method="post">
			<input type="hidden" th:value="${year}" name="year">
			<input type="submit" value="Legg til bingo">
		</form>
	</main>
	<footer th:insert="~{footer}"></footer>
</body>

</html>
